
**/.idea
**/.vscode
TP2/.idea/workspace.xml
TP2/__pycache__/facedetect.cpython-36.pyc
TP2/colorfulhand.png
TP2/probfulhand.png
TP2/.idea/workspace.xml
TP2/.idea/workspace.xml
TP2/.idea/workspace.xml
TP2/.idea/workspace.xml
TP2/.idea/workspace.xml
TP2/.idea/workspace.xml
TP2/.idea/workspace.xml
TP2/trained.xml
TP2/model1
TP2/.idea/workspace.xml
TP2/__pycache__/letter_recog_NN.cpython-36.pyc
TP2/.idea/workspace.xml
*.pyc
TP2/.idea/workspace.xml
TP2/letter_recog_NN - 副本.py
TP2/facedetect22.py
